USE [master]
GO
/****** Object:  Database [SOMED_new]    Script Date: 08.06.2023 16:20:42 ******/
CREATE DATABASE [SOMED_new]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOMED_new', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SOMED_new.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SOMED_new_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SOMED_new_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOMED_new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOMED_new]
GO
/****** Object:  Table [dbo].[ComputerHardware]    Script Date: 08.06.2023 16:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerHardware](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Model] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[InventoryNumber] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[YearRealize] [nvarchar](4) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Type_Id] [int] NOT NULL,
	[Worker_Id] [int] NOT NULL,
	[IsValid] [bit] NOT NULL,
	[Name] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_ComputerHardware] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 08.06.2023 16:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationTypes]    Script Date: 08.06.2023 16:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_EducationTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalHardware]    Script Date: 08.06.2023 16:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalHardware](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Model] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[InventoryNumber] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[YearRealize] [nvarchar](4) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Department_Id] [int] NOT NULL,
	[IsValid] [bit] NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_MedicalHardware] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeCompHardware]    Script Date: 08.06.2023 16:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeCompHardware](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_TypeCompHardware] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 08.06.2023 16:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[LastName] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Patronymic] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Department_Id] [int] NOT NULL,
	[Job] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Phone] [nvarchar](15) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[EducationType_Id] [int] NOT NULL,
	[Institution] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Specialisation] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Photo] [varbinary](max) NULL,
	[IsValid] [bit] NOT NULL,
	[Login] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Password] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Role] [bit] NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ComputerHardware] ON 

INSERT [dbo].[ComputerHardware] ([Id], [Brand], [Model], [InventoryNumber], [Cost], [YearRealize], [Type_Id], [Worker_Id], [IsValid], [Name]) VALUES (1, N'HP', N'3000', N'1231234411', CAST(12332.00 AS Decimal(18, 2)), N'2020', 1, 1, 1, N'Комплюктер')
SET IDENTITY_INSERT [dbo].[ComputerHardware] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsValid]) VALUES (1, N'Системный администратор', NULL, 1)
INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsValid]) VALUES (2, N'Ультразвуковая диагностика', NULL, 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationTypes] ON 

INSERT [dbo].[EducationTypes] ([Id], [Name]) VALUES (1, N'Среднее профессиональное')
SET IDENTITY_INSERT [dbo].[EducationTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalHardware] ON 

INSERT [dbo].[MedicalHardware] ([Id], [Brand], [Model], [InventoryNumber], [Cost], [YearRealize], [Department_Id], [IsValid], [Name]) VALUES (1, N'Philips', N'gneg3000', N'6666661313', CAST(1000000.00 AS Decimal(18, 2)), N'2000', 2, 1, N'Аппарат гнегов')
SET IDENTITY_INSERT [dbo].[MedicalHardware] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeCompHardware] ON 

INSERT [dbo].[TypeCompHardware] ([Id], [Name], [IsValid]) VALUES (1, N'Компьютер', 1)
SET IDENTITY_INSERT [dbo].[TypeCompHardware] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [FirstName], [LastName], [Patronymic], [Department_Id], [Job], [Phone], [EducationType_Id], [Institution], [Specialisation], [Photo], [IsValid], [Login], [Password], [Role]) VALUES (1, N'Стив', N'Джобс', N'Геннадьевич', 1, N'Системный администратор', N'Iphone', 1, N'КГПК', N'Программист', NULL, 1, N'1', N'1', 1)
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
ALTER TABLE [dbo].[ComputerHardware]  WITH CHECK ADD  CONSTRAINT [FK_ComputerHardware_TypeCompHardware] FOREIGN KEY([Type_Id])
REFERENCES [dbo].[TypeCompHardware] ([Id])
GO
ALTER TABLE [dbo].[ComputerHardware] CHECK CONSTRAINT [FK_ComputerHardware_TypeCompHardware]
GO
ALTER TABLE [dbo].[ComputerHardware]  WITH CHECK ADD  CONSTRAINT [FK_ComputerHardware_Workers] FOREIGN KEY([Worker_Id])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[ComputerHardware] CHECK CONSTRAINT [FK_ComputerHardware_Workers]
GO
ALTER TABLE [dbo].[MedicalHardware]  WITH CHECK ADD  CONSTRAINT [FK_MedicalHardware_Departments] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[MedicalHardware] CHECK CONSTRAINT [FK_MedicalHardware_Departments]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Departments] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Departments]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_EducationTypes] FOREIGN KEY([EducationType_Id])
REFERENCES [dbo].[EducationTypes] ([Id])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_EducationTypes]
GO
USE [master]
GO
